* {
  margin: auto;
}

.elements {
padding: 10px;
}

.text-input {
font-size: 16px;
padding: 5px;

}

.text-input > div {
 display:inline-block;
 }

.search > div {
 display:inline-block;
 }

   .checkbox > div {
    display:inline-block;
    }

    h2 {
    text-align: center;
    }

    .selector > div {
    display:inline-block;
    padding: 5px;
    }

    .label-icon {
    font-weight: 700;
    text-align:right;
    }

    .image {
    float:right;
    padding-right: 120px;
    }

  .selector {
    padding-left: 120px;
     }

    .checkbox {
    padding-left: 125px;
    }


   .button {
      border: none;
      color: white;
      padding: 4px 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
    }

    .button {
      background-color: white;
      color: black;
      border: 2px solid #4CAF50;
    }

    .button:hover {
      background-color: #4CAF50;
      color: white;
    }

   .label {
    padding-left: 120px;
   }

   p{
   text-align; center;
   padding-left: 120px;
   padding-top: 5px;
   padding-bottom: 5px;
   }
